@media (max-width:1190px) {
    .one{
        display: none;
    }
}
@media (max-width:990px) {
    .two{
        display: none;
    }
}
@media (max-width:750px) {
    .three{
        display: none;
    }
}
@media (max-width:500px) {
    .four{
        display: none;
    }
}